
<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Predicción Titanic</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body style="background: #000;">
 <div class="login">
	<h1>Sobrevivientes</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
        <input type="text" name = "Ticket class" placeholder = "Ticket Class: 1 =1st, 2 =2nd, 3 =3rd" required="required" />
        <input type="text" name = "Sex" placeholder = "Sex: 1- Male, 2- Female" required="required" />
    	<input type="text" name="age" placeholder="age" required="required" />
        <input type="text" name="sibsp" placeholder="sibspnum: brother, sister, stepbrother, stepsister, husband, wife" required="required" />
        <input type="text" name="parch" placeholder="parchnum: mother, father,daughter, son, stepdaughter, stepson" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">¿Sobrevive o no?</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>